.back {
    width: 100%;
    text-align: center;
}
.ff {
    margin: 1rem;
    fill: var(--logo-color);
    color: var(--logo-color);
    stroke: var(--logo-color);
    height: 2rem;
    pointer-events: all;
}